useDynLib(lme4a, .registration=TRUE)

## Import non-base functions we need explicitly,
## notably for which we define methods:


## FIXME -- really need all these three ??
import("grid")
import("lattice")
import("splines")

importFrom("graphics", plot)
importFrom("nlme", fixef, ranef, VarCorr)
importFrom("stats4", AIC, BIC, logLik)# so S4 methods are used!
importFrom("stats",
           anova, coef, confint, deviance, fitted, formula,
           model.frame, model.matrix, predict, profile,
           resid, residuals, simulate, terms, vcov
           )
importFrom("Matrix", update)# S4

importFrom("minqa", bobyqa)

importClassesFrom("MatrixModels",
                  modelMatrix,
                  denseModelMatrix,  ddenseModelMatrix,
                  sparseModelMatrix, dsparseModelMatrix,
                  predModule,
                  dPredModule,
                  sPredModule,
                  respModule,
                  glmRespMod,
                  nlsRespMod)

importClassesFrom("Matrix",
                  CHMfactor,
                  CHMsimpl,
                  CHMsuper,
                  Cholesky,
                  Matrix,
                  corMatrix,
                  dCHMsimpl,
                  dCHMsuper,
                  dMatrix,
                  ddiMatrix,
                  dgCMatrix,
                  dgeMatrix,
                  dpoMatrix,
                  dsCMatrix,
                  nCHMsimpl,
                  nCHMsuper,
                  symmetricMatrix)

## from MatrixModels, too {not just from 'stats'}:
importMethodsFrom("MatrixModels",
                  coef, fitted, formula, residuals,
                  update)

importMethodsFrom("Matrix",
                  "%*%",
                  Cholesky,
                  as.vector,
                  chol,
                  chol2inv,
                  coerce,
                  crossprod,
                  determinant,
                  diag,
		  rcond,
                  solve,
                  summary,
                  t,
                  tcrossprod)

## re-export imported S4 generics
export(AIC, BIC, logLik)
## and the rest (S3 generics; regular functions):
export(VarCorr, bootMer, devcomp, getL,
       glmer, lmList, lmer, mkdevfun, nlmer,
       sigma, findbars, nobars, subbars, isNested)

exportClasses(deFeMod, lmerResp, lmList, merMod,
              reModule, reTrms, spFeMod)

exportMethods(VarCorr, anova, coef, coerce, confint, deviance,
              devcomp, fitted, fixef, formula, getL,
              logLik, model.frame, model.matrix, terms,
	      plot, print, profile, ranef, rcond,
              show, simulate, sigma, summary, update, vcov)

S3method(plot, coef.mer)
S3method(dotplot, coef.mer)
S3method(plot, ranef.mer)
S3method(qqmath, ranef.mer)
S3method(dotplot, ranef.mer)
## profile() related:
S3method(xyplot, thpr)
S3method(confint, thpr)
S3method(splom, thpr)
S3method(log, thpr)
