useDynLib(lme4a, .registration=TRUE)

import(Matrix)
import(grid)
import(lattice)
import(splines)

importFrom(graphics, plot)
importFrom(stats, AIC, anova, coef, confint, deviance, fitted, formula,
           logLik, model.frame, model.matrix, predict, profile,
           resid, residuals, simulate, terms, vcov)

export(HPDinterval, VarCorr, devcomp, env, getBounds, getPars, glmer,
       lmList, lmer, nlmer, refit, setPars, sigma)

exportClasses(lmList,
	      ## export all super classes of e.g., "lmerenv",
	      ## so users can query the class system :
	      optenv, merenv, merenvtrms, lmerenv, glmerenv)

exportMethods(BIC, HPDinterval, VarCorr, anova, as.matrix,
              chol, coef, coerce, confint, deviance, expand,
              fixef, formula, getBounds, getPars, head, logLik,
              model.frame, model.matrix, plot, print, profile,
              ranef, refit, setPars, show, sigma,
              summary, tail, terms, update, vcov)

S3method(plot, coef.mer)
S3method(dotplot, coef.mer)
S3method(plot, ranef.mer)
S3method(qqmath, ranef.mer)
S3method(dotplot, ranef.mer)
S3method(xyplot, thpr)
S3method(confint, thpr)
S3method(splom, thpr)
S3method(log, thpr)
