useDynLib(lme4, .registration=TRUE)

import("Matrix")
import("lattice")
importFrom("graphics", plot)
importFrom("stats",
           anova,
           coef,
           confint,
           deviance,
           fitted,
           formula,
           logLik,
           model.frame,
           model.matrix,
           resid,
           residuals,
           simulate,
           terms,
           update,
           vcov
           )

export(
#       "devvals",
       "glmer",
       "gsummary",
       "hatTrace",
       "lmList",
       "lmer",
       "lmer2",
       "mcmcsamp",
       "nlmer",
       "pedigree",
       "pooledSD"
       )

exportClasses(
              "coef.mer",
              "lmList",
              "mer",
              "merMCMC",
              "pedigree",
              "ranef.mer",
              "summary.mer"
              )

exportMethods(
              "BIC",
              "VarCorr",
              "anova",
              "chol",
              "coef",
              "coerce",
              "confint",
              "deviance",
              "fitted",
              "fixef",
              "formula",
              "gsummary",
              "head",
              "logLik",
              "mcmcsamp",
              "model.frame",
              "model.matrix",
              "plot",
              "print",
              "qqmath",
              "ranef",
              "resid",
              "residuals",
              "show",
              "simulate",
              "summary",
              "tail",
              "terms",
              "update",
              "vcov",
              "with"
              )

