useDynLib(lme4, .registration=TRUE)

import("Matrix")
import("lattice")
importFrom("graphics", plot)
importFrom("stats",
           anova,
           coef,
           confint,
           deviance,
           fitted,
           formula,
           logLik,
           model.frame,
           model.matrix,
           resid,
           residuals,
           simulate,
           terms,
           vcov
           )

export("glmer", "gsummary", "hatTrace", "HPDinterval",       
       "lmList", "lmer", "lmer2", "mcmcsamp", "nlmer",
       "pooledSD", "VarCorr")

exportClasses("coef.mer", "lmList", "mer", "merMCMC",
              "ranef.mer", "summary.mer")

exportMethods(
              "BIC",
              "HPDinterval",
              "VarCorr",
              "anova",
              "as.matrix",
              "chol",
              "coef",
              "coerce",
              "confint",
              "densityplot",
              "deviance",
              "fitted",
              "fixef",
              "formula",
              "gsummary",
              "head",
              "logLik",
              "mcmcsamp",
              "model.frame",
              "model.matrix",
              "plot",
              "print",
              "qqmath",
              "ranef",
              "resid",
              "residuals",
              "show",
              "simulate",
              "summary",
              "tail",
              "terms",
              "update",
              "vcov",
              "with",
              "xyplot"
              )

